.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  font-family: "Fruktur", cursive;
  font-size: 50px;
  color: rgb(88, 47, 12);
  text-shadow: rgb(105, 114, 21) 1px 0 10px;
}
